stats_and_prob/data
SQL/data
experiment_design_AB_test/data
data_viz_and_explor/data
linear_regression/data
random_forrest/data
SVM/data
neural_networks/data
capstone_1_supervised_learning/data
capstone_2_unsupervised_learning/data
capstone_3_final/data

**/.scrapy
**/.DS_Store
./elevator_pitch_ds.mov